<!DOCTYPE html>
<html>
<head>
  <title>Quotes using hapi.js- building a backend with a database and using search</title>
  
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="public/application.js"></script>

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/public/stylesheets.css">

</head>
<body>
<section class="wrapper">
<!-- background="public/assets/disney.png" -->
    <h1 class="col-lg-12"> Who Said That? Find Quotes </h1>

<div id='selectauthor'>
    <h5>Select author to display quotes and bios</h5> pick an author
      <select>
        <option>Andrew Carnegie</option>
        <option>Abraham Lincoln</option>
        <option>Oscar Wilde</option>
        <option>Walt Disney</option>
        <option>Henry Ford</option>
        <option>Napoleon Bonaparte</option>
        <option>Albert Einstein</option>
        <option>Benjamin Franklin</option>
        <option>Winston Churchill</option>
        <option>Thomas Edison</option>
        <option>John D. Rockefeller</option>
        <option>Warren Buffett</option>
      </select>
        <button class="btn btn-success " type="button" id="clickdisplay">Display bios and quotes</button>
</div>

<!-- // Search container  -->
    <div id="searchSheet" class="container col-lg-12">
        <div id="searchOne">
            <div class="title-center">
               <h3> Search by Author </h3>
            </div>  
            <input class = "col-lg-10" type= "text" id="searchAuthor" placeholder="type in a historical figure to find quotes">
            <button class="btn btn-success col-lg-3" type="button" id="searchauthorbtn">Search Author</button>   
        </div>
        <div id="searchTwo">
            <div class="title-center">
               <h3> Search by Detail </h3>
            </div>
            <input class = "col-lg-10" type= "text" id="searchComplex" placeholder="DOB, industry, nationality/ethnicity, or string">
            <button class="btn btn-success col-lg-3" type="button" id="searchcomplexbtn">Complex Search</button>
        </div>
    </div>

<!-- // display after search -->


    <div class="dAfterSearch col-lg-12">
      <div id="authorDOB">
         <p>DOB:</p>
      </div>
      <div id="authorOccup">
         <p>Occupation/Industry:</p>
      </div>
      <div id="authorNationality">
         <p>Nationality:</p>
      </div>
      <div id="authorImage">
        <img id="authorImage" class="img-responsive center-block" src="">
      </div>
        <button class="btn btn-success" type="button" id="clearpostbtn">Clear Post </button>
    </div>
<!-- //complex search display 

 //"Did you mean the following quotes below?"
 //"Theses authors meet your search criteria, please select one below:" -->
</section>
</body>
</html>